/* CSS Document */

/* Fuentes*/

@font-face {font-family: "Alte"; src: url(../fonts/AlteHaasGroteskRegular.ttf) format("truetype");}
@font-face {font-family: "Alte2"; src: url(../fonts/AlteHaasGroteskRegular.eot)}
@font-face {font-family: "Mission"; src: url(../fonts/Mission-Script.ttf) format("truetype");}
@font-face {font-family: "Mission2"; src: url(../fonts/Mission-Script.eot)}

/* fin Fuentes*/

/* General */

body
{
	font-size:14px;
	font-family:Alte,Alte2;
	background-color:#F3F3F3; 
	height:auto;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	text-align:justify;	    
}	

/* fin General */

/* Capas */

.div_centrado
{
	margin:auto;
	width: 1024px;
	z-index:1;	
}
		
#div_cabecera
{
    width:100%;
    height:115px;
    background-color:#FFFFFF;
    text-align:center;
    padding-top:45px; 
    padding-bottom:45px; 
    border-bottom:#8A8A8A 2px solid;        
}

#divMenuIzqda
{
    float:left;    
    margin-left:5px;   
    text-align:left; 
}

#divMenuCentro
{
    float:left;    
    margin-left:310px;    
}

#divMenuDcha
{
    float:right; 
    margin-right:5px;           
    text-align:right;    
}

#div_pie
{
    bottom:0px;
    position:fixed;
    width:100%;
    height:30px;
    font-size:11px;
    text-align:center;    
    z-index:10;           
}

.divCentrado
{
    text-align:center;    
}

.divContenidoGestor
{
    width:95%;
    margin:auto;
    margin-bottom:60px;   
}

.caja_logo
{
    float:left;
    padding:7px;
    width:200px;    
}

/* fin Capas */

/* Textos */

.texto_rojo
{
    color:#990000;    
}

.titulo
{
    font-family:Times New Roman;
    font-size:32px;    
}

.subtitulo
{
    font-family:Alte,Alte2;
    font-size:13px;        
}

.fila_error
{
    border:#000000 1px solid;
    background-color:#FFFFFF;
    color:#990000;  
    min-height:50px;
    padding:5px;
    margin-bottom:20px; 
    text-align:center;        
}

/* fin Textos */

/* Links */

A.links
{
    color:#000000;
    text-decoration:none;
    outline:none;	
}

A.links:hover
{
    color:#00C76E;    	 
	text-decoration:none;
	outline:none;
}

A.linksRojo
{
    color:#000000;
    text-decoration:none;	
    outline:none;
}

A.linksRojo:hover
{
    color:#990000;    	 
	text-decoration:none;
	outline:none;
}

/* fin Links */

/* Formularios */

.boton
{
	color:#FFFFFF;
	font-size:28px;
	font-family:Mission,Mission2;
	-webkit-border-radius: 28px;
	border-radius: 50px;
	height:80px;
	width:80px;
	padding:0px 8px; 
	background:#000000;
	cursor:pointer; 
	outline:none;
}

.boton:hover
{
    color:#FFFFFF;
    font-size:28px;
	font-family:Mission,Mission2;
	-webkit-border-radius: 28px;
	border-radius: 50px;
	height:80px;
	width:80px;	
	padding:0px 8px; 
	background:#00C76E;
	cursor:pointer; 
	outline:none;
}

.formulario
{
    font-family:Arial;
	font-size:14px;
	color:#BDBDBD;
	border:#BDBDBD solid 1px;
	background:#FFFFFF;	
	outline:none;
}

.formulario:focus
{
    font-family:Arial;
    font-size:14px;
	color:#000000;
    border:#000000 solid 1px;
    background:#FFFFFF;	
    outline:none;
}

/* fin formularios*/
