/* CSS Document */

/* Fuentes*/

@font-face {font-family: "Alte"; src: url(../fonts/AlteHaasGroteskRegular.ttf) format("truetype");}
@font-face {font-family: "Alte2"; src: url(../fonts/AlteHaasGroteskRegular.eot)}
@font-face {font-family: "Mission"; src: url(../fonts/Mission-Script.ttf) format("truetype");}
@font-face {font-family: "Mission2"; src: url(../fonts/Mission-Script.eot)}

/* fin Fuentes*/

/* General */

body
{
	font-size:14px;
	font-family:Alte,Alte2;
	background-color:#FFFFFF; 
	height:auto;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	text-align:justify;	    
}	

/* fin General */

/* Capas */

.div_centrado
{
	margin:auto;
	width: 1024px;		
}
		
#div_cabecera
{
    width:100%;
    height:115px;
    background-color:#FFFFFF;
    text-align:center;
    padding-top:45px; 
    padding-bottom:45px; 
    border-bottom:#8A8A8A 2px solid; 
    z-index:10; 
    position:relative;         
}

#div_pie
{
    bottom:0px;    
    position:fixed;
    width:100%;
    height:30px;
    font-size:11px;
    text-align:center;    
    z-index:10;           
}

.divCentrado
{
    text-align:center; 
}

.divContenidoGestor
{
    width:95%;
    margin:auto;
    margin-bottom:60px;   
}

.caja_logo
{
    float:left;    
    padding:28px;
    height:280px;    
    width:200px;        
}

.caja_logo_web
{
    float:left;    
    padding:28px;
    height:230px;    
    width:200px;        
}

#divLogos
{
    z-index:1;        
}

#divEspacio
{
    position:absolute;
    bottom:-200px;
    height:150px;         
}


/* fin Capas */

/* Textos */

.texto
{
    font-size:14px;
	font-family:Alte,Alte2;
	text-align:justify;	   
}

.texto_rojo
{
    color:#990000;    
}

.titulo
{
    font-family:Times New Roman;
    font-size:38px;    
}

.subtitulo
{
    font-family:Alte,Alte2;
    font-size:13px;        
}

.fila_error
{
    border:#000000 1px solid;
    background-color:#FFFFFF;
    color:#990000;  
    min-height:50px;
    padding:5px;
    margin-bottom:20px; 
    text-align:center;
    font-size:14px;
	font-family:Alte,Alte2;        
}

.fila_acierto
{
    border:#00C76E 1px solid;
    background-color:#FFFFFF;
    color:#00C76E;  
    min-height:50px;
    padding:5px;
    margin-bottom:20px; 
    text-align:center;
    font-size:14px;
	font-family:Alte,Alte2;        
}

.titulo_caja_logo
{
    font-family:Times New Roman;
    font-size:26px;    
}

.subtitulo_caja_logo
{
    font-family:Alte,Alte2;
    font-size:14px;    
}

.titulo_caja_about
{
    margin-top:5px;
    font-family:Times New Roman;
    font-size:20px;      
}

.titulo_about
{
    font-family:Times New Roman;
    font-size:30px; 
}

.cursivaGran
{
    font-family:Times New Roman;
    font-size:18px;
    font-style:italic;   
    margin-top:-5px;
    margin-bottom:-3px;      
}

.texto_url
{
    font-size:12px;
	font-family:Alte,Alte2;    
}

.citas
{
    font-family:Mission,Mission2;   
    font-size:28px;
    text-align:right;     
}

/* fin Textos */

/* Links */

A.links
{
    color:#000000;
    text-decoration:none;
    outline:none;	
}

A.links:hover
{
    color:#00C76E;    	 
	text-decoration:none;
	outline:none;
}

A.linksRojo
{
    color:#000000;
    text-decoration:none;	
    outline:none;
}

A.linksRojo:hover
{
    color:#990000;    	 
	text-decoration:none;
	outline:none;
}

/* fin Links */

/* Formularios */

.boton
{
	color:#FFFFFF;
	font-size:28px;
	font-family:Mission,Mission2;
	-webkit-border-radius: 28px;
	border-radius: 50px;
	height:80px;
	width:80px;
	padding:0px 8px; 
	background:#00C76E;
	cursor:pointer; 
	outline:none;
}

.boton:hover
{
    color:#FFFFFF;
    font-size:28px;
	font-family:Mission,Mission2;
	-webkit-border-radius: 28px;
	border-radius: 50px;
	height:80px;
	width:80px;	
	padding:0px 8px; 
	background:#000000;
	cursor:pointer; 
	outline:none;
}

.formulario
{
    font-size:14px;
	color:#BDBDBD;
	border:#FFFFFF solid 1px;
	background:#FFFFFF;	
	padding-top:5px;   
    padding-bottom:5px;  
	padding-left:5px;  
    padding-right:5px;
	outline:none;
}

.formulario:focus
{
    font-size:14px;
	color:#000000;
    border:#00C76E solid 1px;
    background:#FFFFFF;	
    padding-top:5px;   
    padding-bottom:5px;  
    padding-left:5px;  
    padding-right:5px;
    outline:none;
}

.formulario_contacto
{
    border:#FFFFFF 1px solid;
    outline:none;
    background-color:#FFFFFF;
    vertical-align:top;
    height:150px;
    color:#BDBDBD;
    font-size:14px;      
    overflow:hidden;
    padding-top:5px;   
    padding-bottom:5px;  
    padding-left:5px;  
    padding-right:5px;   
    resize:none;         
}
   
.formulario_contacto:focus
{
    border:#00C76E 1px solid;
    outline:none;
    vertical-align:top;    
    height:150px;    
    color:#000000;
    padding-top:5px;   
    padding-bottom:5px;  
    padding-left:5px;  
    padding-right:5px; 
    resize:none;        
}

/* fin formularios*/

/* PopUps */

    /* General */
    
    .modalBackground
    {
        background-color:#000000;
        filter:alpha(opacity=40);
        opacity:0.5;                  
    }    
    
    .div_TituloVentana
    {
        float:right;
        margin-top:5px;
        margin-right:5px;            
    }      
          
     .div_TituloVentanaAbout
    {
        float:right;
        margin-top:-20px;
        margin-right:5px;            
    }      
          
    /* fin General */
    
    /* Clases PopUps */
    
    .ModalWindow
    {
        border: #000000 3px solid;
        background:#F3F3F3;
        position:absolute;         
    }    

    /* fin Clases PopUps */

/* fin Pop Ups*/

/* Panel Descripciones */

.panelAdmin{
	width: 98%;
	position: absolute;	
	margin-left:-150%;
	z-index:2;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;	
}
.panelAdmin:target{
	margin-left: 0%;	
	left:0px;
	width:100%;	
	height:100%;
	background-color: #F3F3F3;		
}

/* fin Panel Descripciones */

/* Abouts */

#fotacaPakrolsky
{   
    float:left;
    margin-top:-34px; 
	margin-left:-230px;
	height:742px;		
}

#fotacaBidezabal
{   
    float:left;
    margin-top:-34px; 
	margin-left:-280px;
	height:742px;		
}

.div_Textaco
{
    float:right;
    width:580px;
    margin-top:-710px;    
}

.div_Cita
{
    float:right;
    font-family:Mission,Mission2;   
    font-size:28px;
    text-align:right; 
    margin-top:-290px;   
}

/* fin About */